{% extends 'base.html' %}

{% block title %}
about
{% endblock %}

{% block content %}

    <div class="container mt-5">




        <div class="row mt-5">

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img src="../static/image/blin.webp" class="card-img-top" alt="Блин с красной икрой">
                    <div class="card-body">
                        <h5 class="card-title">Блин с красной икрой</h5>
                        <p class="card-text">Нежные и тонкие блины, щедро украшенные красной икрой, станут украшением любого стола. Идеальный выбор для гурманов и любителей русской кухни.</p>
                        <a href="#" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img src="../static/image/broccoli.webp" class="card-img-top" alt="Брокколи">
                    <div class="card-body">
                        <h5 class="card-title">Брокколи</h5>
                        <p class="card-text">Брокколи - это настоящий кладезь витаминов и полезных веществ. Добавьте этот суперфуд в ваш рацион и наслаждайтесь здоровым и вкусным питанием.</p>
                        <a href="#" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>

            <!-- Card 3: Бургер -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img src="../static/image/burger.webp" class="card-img-top" alt="Бургер">
                    <div class="card-body">
                        <h5 class="card-title">Бургер</h5>
                        <p class="card-text">Сочный бургер с ароматной котлетой, свежими овощами и аппетитной булочкой. Идеальное сочетание вкусов для любителей фастфуда и качественных продуктов.</p>
                        <a href="#" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>



    </div>

{% endblock %}